Server_Django/Server_Django/__pycache__
Server_Django/API/__pycache__
Server_Django/.vscode
App-Android\ Studio/JujojazBase/app/src/main/AndroidManifest_REMOTE_*
App-Android\ Studio/JujojazBase/.idea
